@import "~scss/variables";
@import "~scss/mixin";

.header{
  padding: 14px 0;
  border-bottom:1px solid  #e7e7e7;
  .logo{
    float:left;
    font-size:25px;
    color:#000;
    font-family: $futurabold;
    text-transform: uppercase;
    span{
      font-family:$futuramedium;
      font-size:25px;
    }
  }

  .social {
    float: right;
    margin-top:5px;
    li {
      display: inline-block;
      margin-left: 50px;
      vertical-align: top;
      a {
        display:block;
        text-align:center;
        line-height:30px;
        font-size: 17px;
        border-radius:50%;
        width:30px;
        height:30px;
        color:#fff;
        transition: 0.3s;
        background:#000;
        &:hover{
          background:$color_active;
        }
      }
    }
  }
  .wrap_btns_header {
    float: left;
    padding:8px 0 0 0;
    & > a {
      display:inline-block;
      margin-left: 45px;
      color:#000;
      &:hover{
        color:$color_active;
      }
      @include media-max(992) {
        margin-left: 10px;
        padding: 0 15px;
        font-size: 13px;
      }
    }
    @include media-max(992) {
      margin-right: 30px;
    }
  }

  @include media-max(992) {
    display: none;
  }
}

.header_mobile_block{
  display:none;
  clear:both;
  @include media-max(992){
    display:block;
    padding:10px 0;
  }
  .wrap_btns_header{
    float:left;
    a{
      display:inline-block;
      color: #333;
      height:26px;
      padding:0 20px;
      line-height:25px;
      border-radius:100px;
      border:1px solid #e9e9e9;
      &:hover{
        background:$red;
        color:#fff;
        border:1px solid $red;
      }
      @include media-max(380){
        padding:0 12px;
      }
    }
  }
  .social{
    float:right;
    @include media-max(340){
      display:none;
    }
    li{
      display:inline-block;
      margin-left:10px;
      @include media-max(380){
        margin-left:5px;
      }
      a{
        display:block;
        width:28px;
        height:28px;
        border-radius:50%;
        border:1px solid #e9e9e9;
        line-height:28px;
        text-align:center;
        color:$default_color;
        &:hover{
          background:$red;
          color:#fff;
          border:1px solid $red;
        }
      }
    }
  }
}

.archive{
  .nav_menu{
    border:none;
  }
}
