@import "~scss/variables";
@import "~scss/mixin";

/*------------comments template------------*/
.comments_wrap{
  .commentlist{
    padding-left:0;
  }
  .title_count_comments{
    font-size:23px
  }
  #cancel-comment-reply-link{
    font-family: $default_font;
    font-size: 12px;
    font-weight: 500;
    display:inline-block;
    margin-left:20px;
    a{
      color: #d0011b;
    }
  }
  .comment{
    list-style:none;
  }
  .comment_text_wrap{
    .text_comment p{
      font-family:$default_font;
      text-align:left;
    }
    margin-left:85px;
    .name_author{
      font-family: $futurabold;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .comment_inner{
    padding:15px 0;
    border-bottom:1px solid #e9e9e9;
    .comment-author{
      float:left;
      .defautl_ava{
        border-radius:50%;
        position:relative;
        display:inline-block;
        &:after{
          content:'';
          display:block;
          border-radius:50%;
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.29);
        }
        img{
          border-radius:50%;
        }
      }
    }
    .msgs_waiting{
      font-size:12px;
      display:block;
      margin-bottom:6px;
      color:$red;
    }
    .comment_bottom_info{
      font-family: $default_font;
      font-size: 12px;
      font-weight: bold;
      color: #9b9b9b;
      .reply{
        color: #9b9b9b;
        display:inline-block;
        float:none;
        margin-right:15px;
        a{
          color: $red;
        }
      }
      .comment-meta{
        display:inline-block;
        float:none !important;
        font-size:10px;
        color: #626262;
      }
    }
  }
  .children{
    margin-left:50px;
    padding-left:0;
  }
  .children .children .children{
    margin-left:0;
  }
  /*------------comment form---------*/
  .comment-form{
    overflow:hidden;
    @include media-max(1200){
      text-align:center;
    }
    input, textarea{
      color: $default_color;
      padding:6px 15px;
      height:40px;
      transition: .5s;
      border-radius: 10px;
      border: solid 3px #e7e7e7;
      @include media-max(768){
        width:100%;
        display:block;
      }
    }
    textarea{
      width:100%;
      height:220px;
      max-height: 220px;
      padding:12px 15px;
      text-align:left;
      resize: none;
      color: $default_color;
      @include media-max(768){
        padding:10px;
      }
    }
    .error{
      border:3px solid $red;
    }
    .comment-form-author,
    .comment-form-email{
      float:left;
      padding-right:18px;
      input{
        border-radius:10px;
      }
      @include media-max(768){
        float:none;
        width:100%;
        padding-right:0;
      }
    }
    .comment-form-email{
      padding-right:0;
    }
    .form-submit{
      float:right;
    }
    .submit{
      display: inline-block;
      font-size: 20px;
      padding:0 40px;
      color:#fff;
      font-family:$bebas_neuebold;
      text-transform: uppercase;
      height: 38px;
      line-height: 34px;
      border-radius: 100px;
      border:none;
      background-image: linear-gradient(74deg, #f15a24, #ee3224);
      &:hover{
        opacity:0.8;
      }
      @include media-max(1200){
        display:inline-block;
      }
      @include media-max(768){
        width:100%;
        display:block !important;
      }
    }
    .logged-in-as,
    .comment-notes{
      font-size:13px;
      color:#848484;
      text-align:left;
      margin:8px 5px 5px 0;
    }
  }
}