@import "~scss/variables";
@import "~scss/mixin";

.wrap_pagination {
  text-align: center;
  color: #fff;
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    .page-numbers {
      width: 25px;
      height: 25px;
      color: $red;
      margin: 0 5px;
      text-align: center;
      line-height: 25px;
      font-size:14px;
      border-radius:50%;
      font-family:$futuramedium;
      &.current {
        color: $green;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.38);
      }
      &.next,
      &.prev {
        overflow: hidden;
        text-indent: -999px;
      }
      &.prev {
        background: url('img/arrow-left.png') no-repeat center center;
      }
      &.next {
        background: url('img/arrow-right.png') no-repeat center center;
      }
    }
  }
}