/*	DEFAULT
----------------------------------*/
html{
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: $default_font;
  font-size: 14px;
  line-height: 1.5;
  color: $default_color;
  background-color: #fff;
  position: relative;
  @include media-max(768){
    font-size:13px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $default_font;
  margin: 20px 0 15px 0;
  color: $default_color;
  text-align: left;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  line-height: 1.4em;
}

h4 {
  font-size: 16px;
  line-height: 1.5em;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5em;
}

h6 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5em;
}

p {
  margin-bottom: 15px;
}

.default_section{
  padding:0 0 30px 0;
  margin-bottom:30px;
  border-bottom:1px solid #e7e7e7;
  @include media-max(768){
    padding:20px 0;
  }
}

.blc-default{
  border:none;
  margin:0;
  background:none;
}

.main-container{
  padding:40px 0 0 0;
  @include media-max(768){
    padding:20px 0 0 0;
  }
}

.text_style{
  a{
    color:$red;
    text-decoration: underline;
    &:hover{
      text-decoration: none !important;
    }
    &:active{
      color:$yellow;
    }
    &:focus{
      color:$yellow;
    }
  }


  blockquote{
    border-left:5px solid $green;
    padding-left:20px;
    clear:both;
  }

  blockquote p{
    margin-bottom:0;
  }
  /*-----text style------*/
  ul,
  ol {
    margin: 0 0 1.6em 1em;
    text-align:left;
  }
  ul li,
  ol li{
    margin-bottom:4px;
    list-style-position: inside;
    position: relative;
    left: 1em;
    padding-right: 1em;
  }
  ul li:before{
    content:'';
    display:block;
    height:3px;
    width:3px;
    background:$default_color;
    position:absolute;
    border-radius:50%;
    top:8px;
    left:-15px;
  }

  ul {
    list-style: outside disc;
    margin-left: 1em;
  }
  ul {
    list-style-type: none;
  }
  ol {

    li{
      list-style: decimal;
    }
  }
  li > ul,
  li > ol {
    margin-bottom: 0;
  }
  dl {
    margin-bottom: 1.6em;
  }
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: 1.6em;
  }
  table,
  th,
  td {
    border: 1px solid #dbdbdb;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.6em;
    table-layout: fixed; /* Prevents HTML tables from becoming too wide */
    width: 100%;
    vertical-align: middle;
  }
  caption,
  th,
  td {
    font-weight: normal;
    text-align: left;
  }
  th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
  }
  td {
    border-width: 0 1px 1px 0;
  }
  th,
  td {
    padding: 10px;
  }
  img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  .wp-video{
    margin:20px auto;
  }
  &  h1:first-child,
  &  h2:first-child,
  &  h3:first-child,
  &  h4:first-child,
  &  h5:first-child,
  &  h6:first-child{
    margin-top:0;
  }
}