@import "~scss/variables";
@import "~scss/mixin";

.seotext{
  background:#f9f9f9;
  //box-shadow: inset  0 -25px 39px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -31px -66px 33px -60px  rgba(0, 0, 0, 0.1) inset;
  padding:30px 0;
  font-size:16px;
  .title_seotext{
    margin-top:0;
    font-size: 24px;
    font-weight: bold;
  }
}